.action-element{
  background-color: var(--text-color-10);
  padding: 1.2em;
  border-radius: 10px;
  min-height: 7em;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;

  &:hover{
    background-color: var(--text-color-20);
  }

  & .action-element-icon{
    margin: auto;
    height: 76px;
    aspect-ratio: 1/1;
  }

  @media screen and (max-width: 450px){
    font-size: .65em;

    & .action-element-icon{
      height: 55px;
    }
  }
}