.about-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5em;

  & .about-description{
    font-size: 1em;
    font-weight: 500;

    & .bold{
      font-weight: bolder;
    }

    & .italic{
      font-style: italic;
    }
  }

  @media screen and (max-width: 1300px) {
    & .about-image{
      width: 35%;
      object-fit: cover;
    }

    & .about-description{
      font-size: .9em;
    }
  }

  @media screen and (max-width: 1050px) {
    gap: 2em;

    & .about-image{
      width: 35%;
      object-fit: cover;
    }

    & .about-description{
      font-size: .7em;
    }
  }

  @media screen and (max-width: 750px){
    flex-direction: column;

    & .about-image{
      width: 85%;
      object-fit: cover;
    }
  }

  @media screen and (max-width: 400px){

    & .about-image{
      width: 65%;
      object-fit: cover;
    }
  }
}