.home-wrapper{
  
  & .intro-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8em 0;
    gap: 30px;

    & h1{
      font-family: var(--secondary-font);
      font-size: 4rem;
      text-transform: none;
      margin: 0;
    }
  
    & .intro-flex{
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1.5em;
      
      
      & .intro-name{
        width: 650px;
      }

    }

    & .skills-flex{
      width: 90%;
      margin-top: 4em;

      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: .5em .3em;
    }

    @media screen and (max-width: 1150px){
      & h1{
        font-size: 3em;
      }

      & .intro-flex {
        
        & .intro-name{
          width: 500px;
        }
      }
    }
    
    @media screen and (max-width: 750px){
      & h1{
        font-size: 2.3em;
      }

      & .intro-flex {
        
        & .intro-name{
          width: 430px;
        }
      }
    }
  
    @media screen and (max-width: 600px){

      & h1{
        font-size: 1.7em;
      }

      & .intro-flex {
        
        & .intro-name{
          width: 300px;
        }
      }
    }

    @media screen and (max-width: 405px){

      & h1{
        font-size: 1.6em;
      }

      & .intro-flex {
        
        & .intro-name{
          width: 250px;
        }
      }
    }

  }

}