#root{
  --text-color: #000500;
  --background-color: #F1FEF1;
  --primary-color: #D77353;
  --secondary-color: #FFE5E0;
  --accent-color: #3E6823; 

  margin: 1em 6em;
}

.navbar{
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-element{
  text-transform: lowercase;
}

.nav-element:hover{
  filter: drop-shadow(0em 0em 0.8em var(--accent-color));
}

.logo{
  height: 3.2em;
}

.home-page{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 7em;
}

.intro-text{
  text-transform: lowercase;
  font-size: 1.7em;
  text-align: left;
}

.home-page span{
  display: inline-flex;
  gap: 1rem;
}

.description-job{ 
  text-transform: uppercase;
  font-size: 1.7em;
  color: var(--accent-color);
  filter: drop-shadow(0em 0em 0.8em var(--accent-color));
}

.extended-logo{
  filter: drop-shadow(0em 0em 2em var(--accent-color));
}
