#root{
  --text-color: #000500;
  --background-color: #F1FEF1;
  --primary-color: #D77353;
  --secondary-color: #FFE5E0;
  --accent-color: #3E6823; 
  --background-color-secondary: #FFFFFF;

  margin: 1em 6em;
}

.navbar{
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  padding: 0.5em 0em;
  z-index: 1;
}

.nav-element{
  text-transform: lowercase;
}

.nav-element:hover{
  filter: drop-shadow(0em 0em 0.8em var(--accent-color));
}

.logo{
  height: 3.2em;
}

.home-page{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 7em;
}

.intro-text{
  text-transform: lowercase;
  font-size: 1.7em;
  text-align: left;
}

.home-page span{
  display: inline-flex;
  gap: 1rem;
}

.description-job{ 
  text-transform: uppercase;
  font-size: 1.7em;
  color: var(--accent-color);
  filter: drop-shadow(0em 0em 0.8em var(--accent-color));
}

.extended-logo{
  filter: drop-shadow(0em 0em 2em var(--accent-color));
}

.skills{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4em;
}

.skill-card{
  background-color: var(--background-color-secondary);
  border-radius: 2rem;
  text-align: center;

  padding: 1rem 2.5rem;

  filter: drop-shadow(0.1em 0.1em 0.1em rgba(0, 0, 0, 0.25));
}

.skill-card .order{
  background-image: url("./assets/flower.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 5rem;

  padding: 2em 0em 1.5em 0em;

  text-align: center;
}

.skill-card .order .order-text{
  margin: 0;
  color: var(--background-color);
}

.skill-title{
  letter-spacing: 0.2em;
  font-weight: 600;
  margin-top: 0.3em;
}

.skill-description{
  font-size: 0.9em;
}

.projects-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3em;
}

.project-visuals{
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.project-img{
  width: 80%;
  aspect-ratio: 16/9;

  border-radius: 2em;

  object-fit: cover;

  transform: rotate(-0.1rad);
  transition: all 0.5s ease-in-out;
}

.phone-ver{
  width: 22%;
  aspect-ratio: 9/19.5;

  border-radius: 1em;
  border: 0.2em solid var(--accent-color);
  margin-left: -2em;

  object-fit: cover;
  
  transform: rotate(0.2rad);
  transition: all 0.5s ease-in-out;
}

.project-img:hover{
  transform: rotate(-0.2rad);
}

.phone-ver:hover{
  transform: rotate(0.3rad);
}


.project-title{
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5em;
}

.labels{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}

.label{
  color: var(--accent-color);

  position: relative;
}

.label:nth-child(2n){
  color: var(--primary-color);
}

.label-shadow{
  width: 100%;
  height: 0.5em;

  margin-top: -0.5em;
  border-radius: 10px;

  background-color: var(--accent-color);
  opacity: 30%;

  position: absolute;
}

.label:nth-child(2n) .label-shadow{
  background-color: var(--primary-color);
}

.label:hover .label-shadow{
  height: 1em;
  margin-top: -1em;

  transition: all 0.2s;
}

.label-text{
  margin: 0;
  text-align: center;
  font-size: 0.9em;
}

.about-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10%;
}

.about-container .about-text{
  font-size: .9em;
}

.about-container .about-image{
  position: relative;
}

.about-container .resume{
  display: block;
  height: 3.5em;

  position: absolute;
  right: 2.5em;
  bottom: 2em;
}

.resume::before{
  transition: all 0.5s;
}

.resume::before{
  content: url("./assets/flower-green.svg");

  position: absolute;
  left: -2em;
  top: -2em;

  opacity: 0.15;
}

.resume:hover::before{
  transform: rotate(-45deg);
}

.resume img{
  height: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}
